.main{
}

.text-center{
    text-align: center;
}

.profile-tablist li{
    display: table-cell;
    vertical-align: top;
    position: relative;
}

.profile-tablist li a{
    padding: 15px 20px;
}

.profile-small{
    margin-top: 30px;
    font-size: 12px;
}

.profile-large{
    font-size: 18px;
}

/* Pojdte na FIT */

.line-img{
    max-height: 335px !important;
}

.helper{
    position: relative;
    margin-bottom: 120px;
    margin-top: 40px;
}

.helper img{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}

.stage-logo img{
    max-height: 80px;
}

.first-title{
    margin-top: 45px;
}

.partner-img{
    max-height: 50px !important;
}

.table-subjects th{
    font-weight: bold;
    border: 1px solid black;
    text-align: center;
}

.table-subjects td{
    text-align: center;
    border: 1px solid black;
}

.table-subjects td a{
    color: white;
    text-decoration: underline;
}

.table-link{
    color: white !important;
}

.needed{
    background: #1e7e34;
    color: white;
}

.not-needed{
    background: #0c5460;
    color: white;
}

.library ul{
    line-height: 16px;
    color: black;
}

.no-margin-text{
    margin-bottom: 0px !important;
    line-height: 20px;
}

.odd-text{
    color: #00a9e0 !important;
}

.even-text{
   color: #e4002b !important;
}

.partner-logo{
    max-width: 50%;
}

.table-header{
    background: #1676d0;
    color: white;
}

.table-lecture{
    background: rgb(153, 255, 153);
    color: black;
}

.table-exercise{
    background: rgb(204, 255, 255);
    color: black;
}

.table-class td{
    padding: 0;
}

.table-class .table-header td{
    padding: 5px 7px;
}

.day-span{
    padding: 5px 7px;
}

.program_year{
    display: none;
}

.inp__label--inside ~ .inp__text, .inp__label--inside ~ .select, .inp__label--inside ~ .choices .choices__list--single .choices__item{
    padding-top: 35px;
    height: 70px;
}