html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 0;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bold;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  outline: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border: 0;
  padding: 0;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
body {
  margin: 0;
}
a:focus {
  outline: 0;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
img,
iframe,
object,
embed {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
[disabled] {
  cursor: default;
}
.c-gallery__list,
.c-news__list,
.c-articles-lg__list,
.c-events__list,
.b-photo-stripe__list,
.c-faculties__list,
.c-highlights__list,
.c-articles__list,
.c-terms__list,
.c-fields__list,
.c-courses__list,
.c-arts__list,
.c-programs__list,
.c-logos__list,
.c-licenses__list,
.c-spaces__list,
.c-products__list,
.c-schools__list,
.c-employees__list,
.c-vcards__list {
  margin: 0;
}
.c-gallery__item,
.c-news__item,
.c-articles-lg__item,
.c-events__item,
.b-photo-stripe__item,
.c-faculties__item,
.c-highlights__item,
.c-articles__item,
.c-terms__item,
.c-fields__item,
.c-courses__item,
.c-arts__item,
.c-programs__item,
.c-logos__item,
.c-licenses__item,
.c-spaces__item,
.c-products__item,
.c-schools__item,
.c-employees__item,
.c-vcards__item {
  padding: 0;
  margin: 0;
  background: none;
  overflow: visible;
  background-size: auto;
  background-position: 0 0;
}
@media (-webkit-min-device-pixel-ratio: 0) {
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-defaultcase {
  text-transform: none;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}
@media (max-width: 767.98px) {
  .text-left--m {
    text-align: left;
  }
  .text-center--m {
    text-align: center;
  }
}
.color-primary {
  color: #e4002b;
}
.color-secondary {
  color: #1676d0;
}
.no-touchevents a.color-secondary:hover,
.no-touchevents a.color-secondary:focus {
  color: #125ea6;
}
a.color-secondary:visited {
  color: #002d57;
}
.color-bd-darken {
  color: #c8d0d0;
}
.color-gray {
  color: #6f7a86;
}
.color-green {
  color: #00a64f;
}
.color-yellow {
  color: #f5c800;
}
.color-red {
  color: #e4002b;
}
.font-light {
  font-weight: 300;
}
.font-bold {
  font-weight: bold;
}
.font-regular {
  font-weight: normal;
}
.font-italic {
  font-style: italic;
}
.font-primary {
  font-family: inherit;
}
.fonts-loaded .font-primary {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.font-secondary {
  font-family: inherit;
}
.fonts-loaded .font-secondary {
  font-family: 'Vafle', 'Open Sans', Arial, Helvetica, sans-serif;
}
.fz-sm {
  font-size: 12px;
}
.fz-md {
  font-size: 16px;
  line-height: 2.1875;
}
.fz-md ul > li,
ul.fz-md > li {
  margin-bottom: 0;
  background: url("/img/bg/li-md.svg") 0 14px no-repeat;
}
.fz-lg {
  font-size: 18px;
  line-height: 1.944444444444444;
}
.fz-lg ul > li,
ul.fz-lg > li {
  margin-bottom: 0;
  background: url("/img/bg/li-md.svg") 0 14px no-repeat;
}
.align-top {
  vertical-align: top;
}
.align-bottom {
  vertical-align: bottom;
}
.align-middle {
  vertical-align: middle;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box-vertical:before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-right: -0.25em;
  vertical-align: middle;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.ctx {
  display: table-cell;
}
.ctx:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  line-height: 0;
  font-size: xx-large;
  content: ' x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ';
}
.hide,
.js .js-hide {
  display: none;
}
.out,
.js .js-out {
  position: absolute;
  left: -5000px;
}
.vhide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-decoration: none;
}
@media (max-width: 767.98px) {
  .hide--m {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .hide--t {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide--d {
    display: none !important;
  }
}
.pt0 {
  padding-top: 0;
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt27 {
  padding-top: 27px;
}
.pt30 {
  padding-top: 30px;
}
.pt35 {
  padding-top: 35px;
}
.pt40 {
  padding-top: 40px;
}
.pt50 {
  padding-top: 50px;
}
.pt55 {
  padding-top: 55px;
}
.pt60 {
  padding-top: 60px;
}
.pt70 {
  padding-top: 70px;
}
.pt75 {
  padding-top: 75px;
}
.pt80 {
  padding-top: 80px;
}
.pt90 {
  padding-top: 90px;
}
.pt105 {
  padding-top: 105px;
}
.pt110 {
  padding-top: 110px;
}
.pt120 {
  padding-top: 120px;
}
.pb0 {
  padding-bottom: 0;
}
.pb10 {
  padding-bottom: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb27 {
  padding-bottom: 27px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb45 {
  padding-bottom: 45px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb60 {
  padding-bottom: 60px;
}
.pb75 {
  padding-bottom: 75px;
}
.pb80 {
  padding-bottom: 80px;
}
.pb85 {
  padding-bottom: 85px;
}
.pb110 {
  padding-bottom: 110px;
}
.mta {
  margin-top: auto;
}
.mt0 {
  margin-top: 0;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mt80 {
  margin-top: 80px;
}
.mb0 {
  margin-bottom: 0;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb55 {
  margin-bottom: 55px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb80 {
  margin-bottom: 80px;
}
.mla {
  margin-left: auto;
}
.ml0 {
  margin-left: 0;
}
@media (max-width: 767.98px) {
  .pt0--m {
    padding-top: 0;
  }
  .pt20--m {
    padding-top: 20px;
  }
  .pt30--m {
    padding-top: 30px;
  }
  .pt40--m {
    padding-top: 40px;
  }
  .pb0--m {
    padding-bottom: 0;
  }
  .pb10--m {
    padding-bottom: 10px;
  }
  .pb20--m {
    padding-bottom: 20px;
  }
  .pb30--m {
    padding-bottom: 30px;
  }
  .pb40--m {
    padding-bottom: 40px;
  }
  .mt40--m {
    margin-top: 40px;
  }
  .mb0--m {
    margin-bottom: 0;
  }
  .mb10--m {
    margin-bottom: 10px;
  }
  .mb15--m {
    margin-bottom: 15px;
  }
  .mb20--m {
    margin-bottom: 20px;
  }
  .mb30--m {
    margin-bottom: 30px;
  }
  .mb32--m {
    margin-bottom: 32px;
  }
  .mb40--m {
    margin-bottom: 40px;
  }
  .ml0--m {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .p20--t {
    padding: 20px;
  }
  .pt20--t {
    padding-top: 20px;
  }
  .pt40--t {
    padding-top: 40px;
  }
  .pb0--t {
    padding-bottom: 0;
  }
  .pb20--t {
    padding-bottom: 20px;
  }
  .pb40--t {
    padding-bottom: 40px;
  }
  .pb80--t {
    padding-bottom: 80px;
  }
  .mt40--t {
    margin-top: 40px;
  }
  .mb0--t {
    margin-bottom: 0;
  }
  .mb32--t {
    margin-bottom: 32px;
  }
  .mb40--t {
    margin-bottom: 40px;
  }
}
@media (min-width: 1280px) {
  .pt25--d {
    padding-top: 25px;
  }
  .pt50--d {
    padding-top: 50px;
  }
  .pt55--d {
    padding-top: 55px;
  }
  .pt60--d {
    padding-top: 60px;
  }
  .pt90--d {
    padding-top: 90px;
  }
  .pt105--d {
    padding-top: 105px;
  }
  .pt110--d {
    padding-top: 110px;
  }
  .pb60--d {
    padding-bottom: 60px;
  }
  .pb70--d {
    padding-bottom: 70px;
  }
  .pb75--d {
    padding-bottom: 75px;
  }
  .pb80--d {
    padding-bottom: 80px;
  }
  .pb85--d {
    padding-bottom: 85px;
  }
  .pb90--d {
    padding-bottom: 90px;
  }
  .mb30--d {
    margin-bottom: 30px;
  }
  .mb50--d {
    margin-bottom: 50px;
  }
  .mb55--d {
    margin-bottom: 55px;
  }
}
.w5p {
  width: 5%;
}
.w10p {
  width: 10%;
}
.w15p {
  width: 15%;
}
.w20p {
  width: 20%;
}
.w25p {
  width: 25%;
}
.w30p {
  width: 30%;
}
.w35p {
  width: 35%;
}
.w40p {
  width: 40%;
}
.w45p {
  width: 45%;
}
.w50p {
  width: 50%;
}
.w55p {
  width: 55%;
}
.w60p {
  width: 60%;
}
.w65p {
  width: 65%;
}
.w70p {
  width: 70%;
}
.w75p {
  width: 75%;
}
.w80p {
  width: 80%;
}
.w85p {
  width: 85%;
}
.w90p {
  width: 90%;
}
.w95p {
  width: 95%;
}
.w100p {
  width: 100%;
}
@media (min-width: 768px) {
  .w5p--t {
    width: 5%;
  }
  .w10p--t {
    width: 10%;
  }
  .w15p--t {
    width: 15%;
  }
  .w20p--t {
    width: 20%;
  }
  .w25p--t {
    width: 25%;
  }
  .w30p--t {
    width: 30%;
  }
  .w35p--t {
    width: 35%;
  }
  .w40p--t {
    width: 40%;
  }
  .w45p--t {
    width: 45%;
  }
  .w50p--t {
    width: 50%;
  }
  .w55p--t {
    width: 55%;
  }
  .w60p--t {
    width: 60%;
  }
  .w65p--t {
    width: 65%;
  }
  .w70p--t {
    width: 70%;
  }
  .w75p--t {
    width: 75%;
  }
  .w80p--t {
    width: 80%;
  }
  .w85p--t {
    width: 85%;
  }
  .w90p--t {
    width: 90%;
  }
  .w95p--t {
    width: 95%;
  }
  .w100p--t {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .w5p--d {
    width: 5%;
  }
  .w10p--d {
    width: 10%;
  }
  .w15p--d {
    width: 15%;
  }
  .w20p--d {
    width: 20%;
  }
  .w25p--d {
    width: 25%;
  }
  .w30p--d {
    width: 30%;
  }
  .w35p--d {
    width: 35%;
  }
  .w40p--d {
    width: 40%;
  }
  .w45p--d {
    width: 45%;
  }
  .w50p--d {
    width: 50%;
  }
  .w55p--d {
    width: 55%;
  }
  .w60p--d {
    width: 60%;
  }
  .w65p--d {
    width: 65%;
  }
  .w70p--d {
    width: 70%;
  }
  .w75p--d {
    width: 75%;
  }
  .w80p--d {
    width: 80%;
  }
  .w85p--d {
    width: 85%;
  }
  .w90p--d {
    width: 90%;
  }
  .w95p--d {
    width: 95%;
  }
  .w100p--d {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .minw180.minw180 {
    width: 180px;
    min-width: 180px;
  }
  .minw260.minw260 {
    width: 260px;
    min-width: 260px;
  }
  .minw340.minw340 {
    width: 340px;
    min-width: 340px;
  }
  .minw440.minw440 {
    width: 440px;
    min-width: 440px;
  }
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .h100p--t.h100p--t {
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .h600--t.h600--t {
    height: 600px;
  }
  .h960--t.h960--t {
    height: 960px;
  }
  .minw330--t.minw330--t {
    width: 330px;
    min-width: 330px;
  }
  .minw180--t.minw180--t {
    width: 180px;
    min-width: 180px;
  }
  .minw160--t.minw160--t {
    width: 160px;
    min-width: 160px;
  }
}
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .h600--tl.h600--tl {
    height: 600px;
  }
  .h960--tl.h960--tl {
    height: 960px;
  }
}
@media (min-width: 1280px) {
  .h100p.h100p {
    height: 100%;
  }
  .h400.h400 {
    height: 400px;
  }
  .h500.h500 {
    height: 500px;
  }
  .h600.h600 {
    height: 600px;
  }
}
.maxw700 {
  max-width: 700px;
}
.bg {
  background: #f3f7f6;
}
.bg-white {
  background: #fff;
}
.border {
  border: 1px solid #e8eaea;
}
.border-b {
  border-bottom: 1px solid #e8eaea;
}
.border-t {
  border-top: 1px solid #e8eaea;
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .border-t--t {
    border-top: 1px solid #e8eaea;
  }
  .border-l--t {
    border-left: 1px solid #e8eaea;
  }
  .border-r--t {
    border-right: 1px solid #e8eaea;
  }
}
.flex-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-col > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/*
 * Typo
 */
html {
  font: normal 14px/1.785714285714286 sans-serif;
  color: #000;
}
html.fonts-loaded {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: inherit;
  font-weight: normal;
  line-height: 1.2;
  margin: 1.1em 0 0.5em;
}
.fonts-loaded h1,
.fonts-loaded .h1,
.fonts-loaded h2,
.fonts-loaded .h2,
.fonts-loaded h3,
.fonts-loaded .h3,
.fonts-loaded h4,
.fonts-loaded .h4,
.fonts-loaded h5,
.fonts-loaded .h5,
.fonts-loaded h6,
.fonts-loaded .h6 {
  font-family: 'Vafle', 'Open Sans', Arial, Helvetica, sans-serif;
}
h1,
.h1 {
  font-size: 26px;
  line-height: 1.111111111111111;
  margin-bottom: 0.555555555555556em;
}
h2,
.h2 {
  font-size: 24px;
  line-height: 1.166666666666667;
}
h3,
.h3 {
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 0.416666666666667em;
}
h4,
.h4 {
  font-size: 18px;
  line-height: 1.111111111111111;
  text-transform: none;
}
h5,
.h5 {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
h6,
.h6 {
  font-size: 12px;
  line-height: 1.333333333333333;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #6f7a86;
}
@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 28px;
  }
  h2,
  .h2 {
    font-size: 26px;
  }
  h3,
  .h3 {
    font-size: 24px;
  }
}
@media (min-width: 1280px) {
  h1,
  .h1 {
    font-size: 36px;
  }
  h2,
  .h2 {
    font-size: 30px;
  }
}
p {
  margin: 0 0 1.25em;
  letter-spacing: 0.02em;
}
hr {
  border: 0;
  border-top: 1px solid #e8eaea;
  margin: 30px 0;
  height: 1px;
  overflow: hidden;
}
@media (min-width: 768px) {
  hr {
    margin: 40px 0;
  }
}
@media (min-width: 1280px) {
  hr {
    margin: 50px 0;
  }
}
blockquote {
  padding: 10px 0 10px 20px;
  border-left: 2px solid #1676d0;
  font-size: 22px;
  line-height: 1.5;
  margin: 0.454545454545455em 0 1.363636363636364em;
}
blockquote p {
  margin: 0;
}
@media (min-width: 1280px) {
  blockquote {
    padding: 15px 0 15px 40px;
    font-size: 36px;
    line-height: 1.25;
    font-weight: 300;
  }
}
a {
  color: #e4002b;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: underline;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.no-touchevents a:focus,
.no-touchevents a:hover {
  text-decoration: none;
  color: #b60022;
}
a:not([class]):visited {
  color: #7c0219;
}
figure {
  margin: 1.25em 0;
  display: table;
  width: auto !important;
}
figure img {
  display: block;
  max-width: 100%;
  height: auto;
}
figcaption {
  font-size: 14px;
  line-height: 1.785714285714286;
  letter-spacing: 0.02em;
  margin-top: 1.071428571428571em;
  display: table-caption;
  caption-side: bottom;
}
ul,
ol,
dl,
menu {
  margin: 0 0 1.25em;
  list-style: none;
  padding: 0;
  letter-spacing: 0.02em;
}
li {
  padding: 0 0 0 25px;
  margin: 0 0 0.625em;
}
li ol,
li ul {
  margin: 0.625em 0 0;
}
ul li {
  background: url("/img/bg/li.svg") 0 11px no-repeat;
}
ol {
  counter-reset: item;
}
ol > li {
  background: none;
  position: relative;
}
ol > li:before {
  content: counter(item) '.';
  counter-increment: item;
  position: absolute;
  right: 100%;
  top: 1px;
  font-weight: bold;
  text-align: left;
  margin-right: -20px;
}
dt {
  font-weight: bold;
  margin: 0;
}
dd {
  margin: 0 0 0.75em;
  padding: 0;
}
table {
  width: 100%;
  clear: both;
  margin: 0 0 1.25em;
  empty-cells: show;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #e8eaea;
}
caption {
  font-weight: bold;
  text-align: left;
  padding: 0 0 10px;
  caption-side: top;
}
td,
th {
  vertical-align: top;
  padding: 7px 8px;
  border: 1px solid #e8eaea;
}
th {
  font-weight: bold;
  text-align: left;
}
thead th {
  background: #f3f7f6;
}
img.pull-left {
  margin: 0.25em 20px 20px 0;
}
img.pull-right {
  margin: 0.25em 0 20px 20px;
}
.icon-svg {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.icon-svg__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: currentColor;
  pointer-events: none;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.icon-svg:before {
  content: '';
  display: block;
}
.icon-svg--404 {
  width: 52px;
}
.icon-svg--404:before {
  padding-top: 113.46153846153845%;
}
.icon-svg--angle-d {
  width: 12px;
}
.icon-svg--angle-d:before {
  padding-top: 50%;
}
.icon-svg--angle-l {
  width: 6px;
}
.icon-svg--angle-l:before {
  padding-top: 200%;
}
.icon-svg--angle-r {
  width: 6px;
}
.icon-svg--angle-r:before {
  padding-top: 200%;
}
.icon-svg--angle-u {
  width: 12px;
}
.icon-svg--angle-u:before {
  padding-top: 50%;
}
.icon-svg--award {
  width: 54px;
}
.icon-svg--award:before {
  padding-top: 98.14814814814815%;
}
.icon-svg--bonsai {
  width: 52px;
}
.icon-svg--bonsai:before {
  padding-top: 107.6923076923077%;
}
.icon-svg--book {
  width: 58px;
}
.icon-svg--book:before {
  padding-top: 81.03448275862068%;
}
.icon-svg--boom {
  width: 62px;
}
.icon-svg--boom:before {
  padding-top: 90.32258064516128%;
}
.icon-svg--brainstorming {
  width: 44px;
}
.icon-svg--brainstorming:before {
  padding-top: 136.36363636363635%;
}
.icon-svg--building {
  width: 52px;
}
.icon-svg--building:before {
  padding-top: 111.53846153846155%;
}
.icon-svg--cabinet {
  width: 50px;
}
.icon-svg--cabinet:before {
  padding-top: 80%;
}
.icon-svg--calculator {
  width: 48px;
}
.icon-svg--calculator:before {
  padding-top: 100%;
}
.icon-svg--calendar {
  width: 18px;
}
.icon-svg--calendar:before {
  padding-top: 111.11111111111111%;
}
.icon-svg--cards {
  width: 52px;
}
.icon-svg--cards:before {
  padding-top: 73.07692307692307%;
}
.icon-svg--check-circle {
  width: 20px;
}
.icon-svg--check-circle:before {
  padding-top: 100%;
}
.icon-svg--check {
  width: 11px;
}
.icon-svg--check:before {
  padding-top: 81.81818181818183%;
}
.icon-svg--checked {
  width: 48px;
}
.icon-svg--checked:before {
  padding-top: 100%;
}
.icon-svg--checklist {
  width: 39px;
}
.icon-svg--checklist:before {
  padding-top: 143.5897435897436%;
}
.icon-svg--chemistry {
  width: 46px;
}
.icon-svg--chemistry:before {
  padding-top: 113.04347826086956%;
}
.icon-svg--chess {
  width: 30px;
}
.icon-svg--chess:before {
  padding-top: 193.33333333333334%;
}
.icon-svg--chip {
  width: 39px;
}
.icon-svg--chip:before {
  padding-top: 100%;
}
.icon-svg--clock {
  width: 22px;
}
.icon-svg--clock:before {
  padding-top: 100%;
}
.icon-svg--close--sm {
  width: 12px;
}
.icon-svg--close--sm:before {
  padding-top: 100%;
}
.icon-svg--close-circle {
  width: 20px;
}
.icon-svg--close-circle:before {
  padding-top: 100%;
}
.icon-svg--close {
  width: 20px;
}
.icon-svg--close:before {
  padding-top: 100%;
}
.icon-svg--code {
  width: 16px;
}
.icon-svg--code:before {
  padding-top: 75%;
}
.icon-svg--cogs {
  width: 57px;
}
.icon-svg--cogs:before {
  padding-top: 82.45614035087719%;
}
.icon-svg--comment {
  width: 16px;
}
.icon-svg--comment:before {
  padding-top: 87.5%;
}
.icon-svg--connection {
  width: 48px;
}
.icon-svg--connection:before {
  padding-top: 108.33333333333333%;
}
.icon-svg--diagram {
  width: 48px;
}
.icon-svg--diagram:before {
  padding-top: 110.41666666666667%;
}
.icon-svg--diploma {
  width: 54px;
}
.icon-svg--diploma:before {
  padding-top: 85.18518518518519%;
}
.icon-svg--dude {
  width: 42px;
}
.icon-svg--dude:before {
  padding-top: 116.66666666666667%;
}
.icon-svg--ext {
  width: 13px;
}
.icon-svg--ext:before {
  padding-top: 100%;
}
.icon-svg--favu {
  width: 32px;
}
.icon-svg--favu:before {
  padding-top: 200%;
}
.icon-svg--fekt {
  width: 44px;
}
.icon-svg--fekt:before {
  padding-top: 127.27272727272727%;
}
.icon-svg--festival {
  width: 39px;
}
.icon-svg--festival:before {
  padding-top: 156.4102564102564%;
}
.icon-svg--find {
  width: 55px;
}
.icon-svg--find:before {
  padding-top: 98.18181818181819%;
}
.icon-svg--fingerprint {
  width: 49px;
}
.icon-svg--fingerprint:before {
  padding-top: 100%;
}
.icon-svg--flag {
  width: 44px;
}
.icon-svg--flag:before {
  padding-top: 113.63636363636364%;
}
.icon-svg--flashdrive {
  width: 48px;
}
.icon-svg--flashdrive:before {
  padding-top: 95.83333333333334%;
}
.icon-svg--graph {
  width: 51px;
}
.icon-svg--graph:before {
  padding-top: 96.07843137254902%;
}
.icon-svg--hand-time {
  width: 52px;
}
.icon-svg--hand-time:before {
  padding-top: 65.38461538461539%;
}
.icon-svg--handshake {
  width: 58px;
}
.icon-svg--handshake:before {
  padding-top: 77.58620689655173%;
}
.icon-svg--hint {
  width: 20px;
}
.icon-svg--hint:before {
  padding-top: 100%;
}
.icon-svg--idea {
  width: 56px;
}
.icon-svg--idea:before {
  padding-top: 110.71428571428572%;
}
.icon-svg--in-hurry {
  width: 50px;
}
.icon-svg--in-hurry:before {
  padding-top: 100%;
}
.icon-svg--lifebuoy {
  width: 50px;
}
.icon-svg--lifebuoy:before {
  padding-top: 100%;
}
.icon-svg--lifelong-learning {
  width: 54px;
}
.icon-svg--lifelong-learning:before {
  padding-top: 85.18518518518519%;
}
.icon-svg--like {
  width: 44px;
}
.icon-svg--like:before {
  padding-top: 100%;
}
.icon-svg--link {
  width: 13px;
}
.icon-svg--link:before {
  padding-top: 100%;
}
.icon-svg--lockpick-electronic {
  width: 58px;
}
.icon-svg--lockpick-electronic:before {
  padding-top: 75.86206896551724%;
}
.icon-svg--lockpick-locked {
  width: 34px;
}
.icon-svg--lockpick-locked:before {
  padding-top: 152.94117647058823%;
}
.icon-svg--lockpick-unlocked {
  width: 48px;
}
.icon-svg--lockpick-unlocked:before {
  padding-top: 108.33333333333333%;
}
.icon-svg--mechanics {
  width: 44px;
}
.icon-svg--mechanics:before {
  padding-top: 127.27272727272727%;
}
.icon-svg--menu {
  width: 16px;
}
.icon-svg--menu:before {
  padding-top: 75%;
}
.icon-svg--message {
  width: 19px;
}
.icon-svg--message:before {
  padding-top: 73.68421052631578%;
}
.icon-svg--minus-circle {
  width: 20px;
}
.icon-svg--minus-circle:before {
  padding-top: 100%;
}
.icon-svg--minus {
  width: 20px;
}
.icon-svg--minus:before {
  padding-top: 10%;
}
.icon-svg--mug {
  width: 48px;
}
.icon-svg--mug:before {
  padding-top: 95.83333333333334%;
}
.icon-svg--paperplane {
  width: 55px;
}
.icon-svg--paperplane:before {
  padding-top: 94.54545454545455%;
}
.icon-svg--phone {
  width: 18px;
}
.icon-svg--phone:before {
  padding-top: 100%;
}
.icon-svg--play {
  width: 27px;
}
.icon-svg--play:before {
  padding-top: 133.33333333333331%;
}
.icon-svg--plus {
  width: 20px;
}
.icon-svg--plus:before {
  padding-top: 100%;
}
.icon-svg--point-left {
  width: 60px;
}
.icon-svg--point-left:before {
  padding-top: 76.66666666666667%;
}
.icon-svg--point-right {
  width: 60px;
}
.icon-svg--point-right:before {
  padding-top: 76.66666666666667%;
}
.icon-svg--power-off {
  width: 16px;
}
.icon-svg--power-off:before {
  padding-top: 100%;
}
.icon-svg--preparatory-courses {
  width: 62px;
}
.icon-svg--preparatory-courses:before {
  padding-top: 85.48387096774194%;
}
.icon-svg--present {
  width: 46px;
}
.icon-svg--present:before {
  padding-top: 108.69565217391303%;
}
.icon-svg--research {
  width: 48px;
}
.icon-svg--research:before {
  padding-top: 100%;
}
.icon-svg--scanner {
  width: 58px;
}
.icon-svg--scanner:before {
  padding-top: 81.03448275862068%;
}
.icon-svg--screw {
  width: 36px;
}
.icon-svg--screw:before {
  padding-top: 130.55555555555557%;
}
.icon-svg--search {
  width: 18px;
}
.icon-svg--search:before {
  padding-top: 105.55555555555556%;
}
.icon-svg--smartphone {
  width: 48px;
}
.icon-svg--smartphone:before {
  padding-top: 131.25%;
}
.icon-svg--speech {
  width: 41px;
}
.icon-svg--speech:before {
  padding-top: 131.70731707317074%;
}
.icon-svg--sport {
  width: 52px;
}
.icon-svg--sport:before {
  padding-top: 100%;
}
.icon-svg--talk {
  width: 52px;
}
.icon-svg--talk:before {
  padding-top: 88.46153846153845%;
}
.icon-svg--team {
  width: 46px;
}
.icon-svg--team:before {
  padding-top: 115.21739130434783%;
}
.icon-svg--time {
  width: 34px;
}
.icon-svg--time:before {
  padding-top: 135.29411764705884%;
}
.icon-svg--tip {
  width: 44px;
}
.icon-svg--tip:before {
  padding-top: 136.36363636363635%;
}
.icon-svg--trumpette {
  width: 62px;
}
.icon-svg--trumpette:before {
  padding-top: 64.51612903225806%;
}
.icon-svg--user {
  width: 20px;
}
.icon-svg--user:before {
  padding-top: 100%;
}
.icon-svg--workplace {
  width: 56px;
}
.icon-svg--workplace:before {
  padding-top: 85.71428571428571%;
}
.icon-svg--zoom-in {
  width: 24px;
}
.icon-svg--zoom-in:before {
  padding-top: 100%;
}
.icon-svg--pdf {
  width: 21px;
}
.icon-svg--pdf:before {
  padding-top: 109.52380952380953%;
}
.icon-svg--ppt {
  width: 21px;
}
.icon-svg--ppt:before {
  padding-top: 109.52380952380953%;
}
.icon-svg--facebook {
  width: 10px;
}
.icon-svg--facebook:before {
  padding-top: 190%;
}
.icon-svg--instagram {
  width: 20px;
}
.icon-svg--instagram:before {
  padding-top: 100%;
}
.icon-svg--twitter {
  width: 21px;
}
.icon-svg--twitter:before {
  padding-top: 80.95238095238095%;
}
.icon-svg--youtube {
  width: 23px;
}
.icon-svg--youtube:before {
  padding-top: 73.91304347826086%;
}
.icon-svg--scripts--fa {
  width: 108px;
}
.icon-svg--scripts--fa:before {
  padding-top: 128.7037037037037%;
}
.icon-svg--scripts--favu {
  width: 108px;
}
.icon-svg--scripts--favu:before {
  padding-top: 128.7037037037037%;
}
.icon-svg--scripts--fch {
  width: 108px;
}
.icon-svg--scripts--fch:before {
  padding-top: 128.7037037037037%;
}
.icon-svg--scripts--fekt {
  width: 108px;
}
.icon-svg--scripts--fekt:before {
  padding-top: 128.7037037037037%;
}
.icon-svg--scripts--fit {
  width: 108px;
}
.icon-svg--scripts--fit:before {
  padding-top: 128.7037037037037%;
}
.icon-svg--scripts--fp {
  width: 108px;
}
.icon-svg--scripts--fp:before {
  padding-top: 128.7037037037037%;
}
.icon-svg--scripts--fs {
  width: 108px;
}
.icon-svg--scripts--fs:before {
  padding-top: 128.7037037037037%;
}
.icon-svg--scripts--fsi {
  width: 108px;
}
.icon-svg--scripts--fsi:before {
  padding-top: 128.7037037037037%;
}
.icon-svg--scripts--vut {
  width: 108px;
}
.icon-svg--scripts--vut:before {
  padding-top: 128.7037037037037%;
}
.icon-svg--logo--en {
  width: 280px;
}
.icon-svg--logo--en:before {
  padding-top: 32.142857142857146%;
}
.icon-svg--logo-fa--lg {
  width: 273px;
}
.icon-svg--logo-fa--lg:before {
  padding-top: 29.304029304029307%;
}
.icon-svg--logo-fa-en--lg {
  width: 308px;
}
.icon-svg--logo-fa-en--lg:before {
  padding-top: 25.97402597402597%;
}
.icon-svg--logo-fa {
  width: 185px;
}
.icon-svg--logo-fa:before {
  padding-top: 43.24324324324324%;
}
.icon-svg--logo-fast--lg {
  width: 240px;
}
.icon-svg--logo-fast--lg:before {
  padding-top: 33.33333333333333%;
}
.icon-svg--logo-fast-en--lg {
  width: 262px;
}
.icon-svg--logo-fast-en--lg:before {
  padding-top: 30.53435114503817%;
}
.icon-svg--logo-fast {
  width: 251px;
}
.icon-svg--logo-fast:before {
  padding-top: 31.872509960159363%;
}
.icon-svg--logo-favu--lg {
  width: 256px;
}
.icon-svg--logo-favu--lg:before {
  padding-top: 31.25%;
}
.icon-svg--logo-favu-en--lg {
  width: 229px;
}
.icon-svg--logo-favu-en--lg:before {
  padding-top: 34.93449781659388%;
}
.icon-svg--logo-favu {
  width: 251px;
}
.icon-svg--logo-favu:before {
  padding-top: 31.872509960159363%;
}
.icon-svg--logo-fch--lg {
  width: 240px;
}
.icon-svg--logo-fch--lg:before {
  padding-top: 33.33333333333333%;
}
.icon-svg--logo-fch-en--lg {
  width: 272px;
}
.icon-svg--logo-fch-en--lg:before {
  padding-top: 29.411764705882355%;
}
.icon-svg--logo-fch {
  width: 224px;
}
.icon-svg--logo-fch:before {
  padding-top: 35.714285714285715%;
}
.icon-svg--logo-fekt--lg {
  width: 421px;
}
.icon-svg--logo-fekt--lg:before {
  padding-top: 19.002375296912113%;
}
.icon-svg--logo-fekt-en--lg {
  width: 382px;
}
.icon-svg--logo-fekt-en--lg:before {
  padding-top: 20.94240837696335%;
}
.icon-svg--logo-fekt {
  width: 251px;
}
.icon-svg--logo-fekt:before {
  padding-top: 31.872509960159363%;
}
.icon-svg--logo-fit--lg {
  width: 275px;
}
.icon-svg--logo-fit--lg:before {
  padding-top: 29.09090909090909%;
}
.icon-svg--logo-fit-en--lg {
  width: 303px;
}
.icon-svg--logo-fit-en--lg:before {
  padding-top: 26.4026402640264%;
}
.icon-svg--logo-fit {
  width: 196px;
}
.icon-svg--logo-fit:before {
  padding-top: 40.816326530612244%;
}
.icon-svg--logo-fp--lg {
  width: 285px;
}
.icon-svg--logo-fp--lg:before {
  padding-top: 28.07017543859649%;
}
.icon-svg--logo-fp-en--lg {
  width: 311px;
}
.icon-svg--logo-fp-en--lg:before {
  padding-top: 25.723472668810288%;
}
.icon-svg--logo-fp {
  width: 178px;
}
.icon-svg--logo-fp:before {
  padding-top: 44.9438202247191%;
}
.icon-svg--logo-fsi--lg {
  width: 240px;
}
.icon-svg--logo-fsi--lg:before {
  padding-top: 33.33333333333333%;
}
.icon-svg--logo-fsi-en--lg {
  width: 305px;
}
.icon-svg--logo-fsi-en--lg:before {
  padding-top: 26.229508196721312%;
}
.icon-svg--logo-fsi {
  width: 201px;
}
.icon-svg--logo-fsi:before {
  padding-top: 39.800995024875625%;
}
.icon-svg--logo-usi {
  width: 208px;
}
.icon-svg--logo-usi:before {
  padding-top: 38.46153846153847%;
}
.icon-svg--logo {
  width: 256px;
}
.icon-svg--logo:before {
  padding-top: 35.15625%;
}
.icon-svg--sign-fa {
  width: 102px;
}
.icon-svg--sign-fa:before {
  padding-top: 78.43137254901961%;
}
.icon-svg--sign-fast {
  width: 168px;
}
.icon-svg--sign-fast:before {
  padding-top: 47.61904761904761%;
}
.icon-svg--sign-favu {
  width: 168px;
}
.icon-svg--sign-favu:before {
  padding-top: 47.61904761904761%;
}
.icon-svg--sign-fch {
  width: 141px;
}
.icon-svg--sign-fch:before {
  padding-top: 56.73758865248227%;
}
.icon-svg--sign-fekt {
  width: 168px;
}
.icon-svg--sign-fekt:before {
  padding-top: 47.61904761904761%;
}
.icon-svg--sign-fit {
  width: 113px;
}
.icon-svg--sign-fit:before {
  padding-top: 70.79646017699115%;
}
.icon-svg--sign-fp {
  width: 95px;
}
.icon-svg--sign-fp:before {
  padding-top: 84.21052631578947%;
}
.icon-svg--sign-fsi {
  width: 118px;
}
.icon-svg--sign-fsi:before {
  padding-top: 67.79661016949152%;
}
.icon-svg--sign-usi {
  width: 125px;
}
.icon-svg--sign-usi:before {
  padding-top: 64%;
}
.icon-svg--symbol-alone {
  width: 41px;
}
.icon-svg--symbol-alone:before {
  padding-top: 100%;
}
.icon-svg--symbol {
  width: 110px;
}
.icon-svg--symbol:before {
  padding-top: 100%;
}
.m-main,
.m-accessibility,
.m-breadcrumb,
.header__search,
.footer__group:not(:last-child),
.footer__group:last-child .grid__cell:last-child,
.to-top,
.radio,
.checkbox,
.title br,
.c-gallery__content,
.c-gallery__link--overlay:before,
.c-news__btn,
.b-hero-header__btns,
.b-hero-header__next,
.b-cta,
.print-hide,
.c-ctas,
.b-hero__title br,
.btn,
.b-360__control,
.b-gmap__holder,
.footer__logo,
.tip__icon,
.link-slide,
.arrow,
.b-course__icon,
.b-video,
.backlink,
.tooltip__close,
.link-tip,
.link-nav,
.b-first-year,
.c-fields__title,
.m-tabs,
.pagination,
.m-content,
.c-faqs__icon,
.b-faculty-list__icon,
.b-faculty-list__link,
.b-detail-teaser,
.m-case-studies,
.c-carousel__nav,
.c-carousel__pager,
.c-carousel__prev,
.c-carousel__next,
.message__close,
.flatpickr-calendar,
.c-employees__letter-wrap,
.b-employee__position br,
.c-media__link-icon,
.header__logo-sign,
form {
  display: none !important;
}
.header,
.main,
.footer {
  padding: 20px;
}
.header {
  border-bottom: 2pt solid #000;
}
.header__logo {
  margin: 0;
  line-height: 1;
}
.header__logo .icon-svg--symbol {
  width: 80px;
}
.footer {
  border-top: 2pt solid #000;
}
.footer__group {
  padding: 0;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
.no-touchevents a:hover {
  color: inherit;
  text-decoration: none;
}
ul {
  padding-left: 20px;
  list-style-type: disc;
}
ul li {
  padding-left: 0;
  background: none !important;
}
[role='tabpanel'] + [role='tabpanel'] {
  margin-top: 30px;
}
[role='tabpanel'] > .vhide:first-child {
  width: auto;
  height: auto;
  position: static;
  margin: 0;
  overflow: visible;
  clip: none;
  margin-bottom: 10px;
}
.border-t,
.border-b,
.border {
  border: 0;
}
.bg {
  background: none;
}
.holder {
  padding-top: 0;
  padding-bottom: 0;
}
.scroll {
  height: auto !important;
}
.scroll__content {
  padding: 0;
  height: auto !important;
}
.grid--bd {
  margin-left: 0;
}
.grid--bd > .grid__cell + .grid__cell {
  border: 0;
}
.title {
  margin-left: -0.25em;
  white-space: normal;
}
.title__item {
  display: inline-block;
  margin-left: 0.25em;
}
.address__title,
.address__item {
  margin-bottom: 0;
}
.flickity-viewport {
  height: auto !important;
}
.c-gallery__list,
.c-news__list,
.c-articles-lg__list,
.c-events__list,
.b-photo-stripe__list,
.c-faculties__list,
.c-highlights__list,
.c-articles__list,
.c-terms__list,
.c-fields__list,
.c-courses__list,
.c-arts__list,
.c-programs__list,
.c-logos__list,
.c-licenses__list,
.c-spaces__list,
.c-products__list,
.c-schools__list,
.c-employees__list,
.c-vcards__list {
  margin: 0 0 -20px -20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}
.c-gallery__item,
.c-news__item,
.c-articles-lg__item,
.c-events__item,
.b-photo-stripe__item,
.c-faculties__item,
.c-highlights__item,
.c-articles__item,
.c-terms__item,
.c-fields__item,
.c-courses__item,
.c-arts__item,
.c-programs__item,
.c-logos__item,
.c-licenses__item,
.c-spaces__item,
.c-products__item,
.c-schools__item,
.c-employees__item,
.c-vcards__item {
  margin-bottom: 20px !important;
  padding-left: 20px;
  width: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.c-gallery {
  margin-bottom: 20px;
}
.c-gallery__item {
  width: auto;
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
  max-width: 25%;
}
.c-gallery__item img {
  max-width: 100%;
  height: auto;
}
.c-gallery__img {
  background: none !important;
}
.b-news__title,
.b-article-lg__title,
.b-term__title {
  margin-top: 0;
}
.c-events {
  padding: 0;
}
.b-feature {
  margin-bottom: 20px;
}
.b-photo-stripe__item img {
  max-width: 100%;
  height: auto;
}
.b-photo-stripe__item.size--t-6-12 {
  width: 100%;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}
.b-term__img {
  margin-bottom: 10px;
}
.b-term__img img {
  max-width: 100%;
  height: auto;
}
.c-faculties__list,
.c-programs__list,
.c-logos__list,
.c-schools__list {
  height: auto !important;
}
.c-faculties__item,
.c-programs__item,
.c-logos__item,
.c-schools__item {
  position: static !important;
  width: 25% !important;
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
}
.c-faculties__item.size--4-12,
.c-programs__item.size--4-12,
.c-logos__item.size--4-12,
.c-schools__item.size--4-12 {
  width: 50% !important;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}
.c-faculties__item img,
.c-programs__item img,
.c-logos__item img,
.c-schools__item img {
  max-width: 100%;
  height: auto;
}
.b-faculty__title {
  font-size: 18px;
}
.b-highlight__title {
  margin-bottom: 0;
}
.c-highlights {
  padding: 0;
}
.c-highlights__item.size--t-4-12 {
  width: 33.333%;
  -webkit-flex-basis: 33.333%;
      -ms-flex-preferred-size: 33.333%;
          flex-basis: 33.333%;
}
.c-terms__item,
.c-testimonials__item {
  position: static !important;
}
.b-program__title {
  padding: 0;
}
.b-program__content {
  padding-bottom: 0;
}
.b-schedule {
  padding-top: 0;
}
.c-years__wrap {
  height: auto !important;
}
.c-years__content .grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.c-years__content .size--t-6-12 {
  width: 50%;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}
.b-hero__subtitle + .b-hero__annot {
  margin-top: -1.25em;
}
.b-article__author {
  margin-bottom: 0;
}
.b-article__meta br {
  display: none;
}
.c-articles__title {
  margin-bottom: 1em;
}
.c-testimonials {
  background: none !important;
}
.c-testimonials .flickity-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -20px;
}
.c-testimonials__title {
  margin-bottom: 1em;
}
.c-testimonials__title br {
  display: none;
}
.c-testimonials__item {
  width: 50%;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  margin-bottom: 20px;
  padding-left: 20px;
}
.b-vcard .title {
  margin-top: 0;
  margin-bottom: 0;
}
.b-vcard__text > :last-child {
  margin-bottom: 0;
}
.b-vcard--center {
  max-width: 300px;
  margin: 0 auto;
}
.b-course__title {
  margin-bottom: 0;
}
.b-course__annot br {
  display: none;
}
.b-other-programs__title br,
.b-other-programs__title .title-icon__icon {
  display: none;
}
.b-detail__subtitle {
  margin-bottom: 0;
  font-weight: bold;
}
.b-detail__subtitle br {
  display: none;
}
.b-detail__title {
  margin-top: 0;
}
.c-schedule__label {
  margin-top: 0;
}
.b-program__content {
  padding-top: 0;
}
.b-branch__title {
  margin-bottom: 0;
}
.b-license__img-inner {
  background: none !important;
}
.b-space__capacity {
  margin-bottom: 10px;
}
.b-space__title {
  margin: 0;
}
.b-space__img img {
  max-width: 100%;
  height: auto;
}
.b-product__desc {
  margin-bottom: 0;
}
.b-profile__img {
  background: none !important;
}
.b-profile__title .title {
  margin-top: 0;
  margin-bottom: 0;
}
.list-timeline__date {
  margin-bottom: 0;
}

/*# sourceMappingURL=print.css.map */
