/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: white;
  color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: #00f;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: #a31515;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #2b91af;
}

.hljs-doctag {
  color: #808080;
}

.hljs-attr {
  color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8;
}


.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.sg-box ol > li > ol {
  margin-top: 5px;
}
.js .sg-box__item-comment {
  display: none;
}
.sg-box__title {
  text-align: center;
}
.sg-box__item {
  margin-bottom: 50px;
}
.sg-box__item-annot {
  position: relative;
}
.sg-box__item-title {
  color: #1676d0;
  border-bottom: 2px solid #9eb5cd;
  padding-right: 72px;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}
.sg-box__item-content {
  margin-bottom: 50px;
}
.sg-box__item-code--bleed {
  margin-left: -20px;
  margin-right: -20px;
}
.sg-box__item-example.is-hidden {
  display: none;
}
.sg-box__item-toggle {
  font-size: 0;
  position: absolute;
  text-decoration: none;
  color: #1676d0;
  top: 0;
}
.no-touchevents .sg-box__item-toggle:hover,
.no-touchevents .sg-box__item-toggle:focus {
  color: #125ea6;
}
.sg-box__item-toggle--code {
  padding: 12px 10px;
  right: 0;
}
.sg-box__item-toggle--comment {
  padding: 11px 10px;
  right: 36px;
}
@media (min-width: 768px) {
  .sg-box__item-code--bleed {
    margin-left: -40px;
    margin-right: -40px;
  }
}
@media (min-width: 1440px) {
  .sg-box__item-code--bleed {
    margin-left: -80px;
    margin-right: -80px;
  }
}
.sg-color {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  color: #fff;
}
.sg-color__col {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  padding: 20px;
}
.sg-color__col > :last-child {
  margin-bottom: 0;
}
.sg-color__col--black {
  color: #000;
}
.sg-code {
  margin-bottom: 50px;
}
.sg-code__annot {
  background: #1676d0;
  color: #fff;
  position: relative;
  padding: 4px 30px 4px 9px;
}
.sg-code__title {
  font-size: 18px;
  margin-bottom: 0;
}
.sg-code__title .icon-svg {
  top: -2px;
  margin-right: 5px;
}
.sg-code__close {
  font-size: 0;
  position: absolute;
  top: 9px;
  right: 9px;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.no-touchevents .sg-code__close:hover,
.no-touchevents .sg-code__close:focus {
  color: inherit;
  opacity: 0.8;
}
.sg-code__close .icon-svg {
  width: 12px;
}
.sg-code__content {
  padding: 20px;
  background: #e8eaea;
  border-left: 2px solid #1676d0;
}
.sg-code__content > :last-child {
  margin-bottom: 0;
}
.sg-code__content pre {
  font-size: 0;
}
.sg-code__content code {
  padding: 0;
  background: none;
  font-size: 14px;
}
.sg-code__content--code {
  -moz-tab-size: 4;
       tab-size: 4;
}
.sg-grid .grid__cell {
  background-clip: padding-box;
  background-color: #1676d0;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style-guide.css.map */
